# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter / IPython
.ipynb_checkpoints

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Mac system files
.DS_Store

# Ruff / mypy / pytest cache
.ruff_cache/
.mypy_cache/
.pytest_cache/
